.utble {
    text-align: center;
    user-select: none;
}

.f-w {
    font-size: 0.925rem;
    //line-height: 2.25rem;
    font-weight: 500;
}

.number-format {
    font-size: 0.955rem;
    font-weight: 500;
    //font-family: 'Courier New', Courier, monospace;
}

.c-w {
    font-size: 0.988rem;
    //line-height: 2rem;
    font-weight: 500
}

.h-w {
    font-size: 1.25rem;
    //line-height: 2rem;
    font-weight: 500
}


::ng-deep .opened .modal-dialog { 
    max-width: 50%;
    width: 50%;
}