@import '@core/scss/base/pages/dashboard-ecommerce.scss';
@import '@core/scss/base/plugins/charts/chart-apex.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

// Earning Chart Tooltip
#earnings-donut-chart {
  .apexcharts-tooltip {
    &.apexcharts-theme-dark {
      background: rgba($black, 0.8) !important;
    }
  }
}

.f-w {
  font-size: 0.925rem;
  //line-height: 2.25rem;
  font-weight: 500;
}

.number-format {
  font-size: 0.955rem;
  font-weight: 500;
  //font-family: 'Courier New', Courier, monospace;
}

.c-w {
  font-size: 0.988rem;
  line-height: 2rem;
  font-weight: 500
}

.h-w {
  font-size: 1.25rem;
  //line-height: 2rem;
  font-weight: 500
}