.background-grey {
    background-color: aquamarine !important;
}

.documents {            
   background-image: url('../../../../../assets/images/ico-2022/folders.png');
   width: 100%;
   background-repeat: no-repeat;
}

// .image-active, .effects:hover .gif-active {
//     display: flex;
// }

// .gif-active, .effects:hover .image-active {
//     display: none;
// }